  <nav class="navbar admin-navbar nav-bottom-border navbar-fixed-top">
    <div class="container-fluid">

      <div class="navbar-header nav-header text">GatorTec Service Tracker</div>
      <div class="navbar-header nav-header dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Customers
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a ui-sref="admin.users">Users</a></li>
          <li><a ui-sref="admin.database">Database</a></li>
        </ul>
      </div>

      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right text">
          <li class="nav-space">Hello, {{listings[0].customerName}}</li>
          <li class="center-bar">|</li>
          <li><a>Sign Out</a></li>
        </ul>
      </div>

    </div>
  </nav>

  <div>
    <h1 align="center">Admin - Customers</h1>
  </div>

  <div class="input-group" id="searchBar">
    <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
    <input type="text" class="form-control" placeholder="Search" ng-model="searchCustomer">
  </div>

  <div class="panel-group" ng-repeat="customer in customers | filter:searchCustomer" style="margin-bottom: 0px">
    <div class="panel">
      <!-- unite, gradient, fill, bordered, minimal, strech, simple -->
      <div class="panel-heading bttn-unite bttn-md bttn-primary" data-toggle="collapse" data-target="#accordion{{customer.sroID}}" ng-class="{'blacklisted':customer.blacklist}">
        <h4 class="panel-title" >
          <div class="row">
            <div class="col-sm-3"><i class="fa fa-cog" aria-hidden="true"></i>{{' ' + customer.sroID}}</div>
            <div class="col-sm-3"><i class="fa fa-user" aria-hidden="true"></i>{{' ' + customer.customerName}}</div>
            <div class="col-sm-3"><i class="fa fa-mobile" aria-hidden="true"></i>{{' ' + customer.customerPhoneNumber}}</div>
            <div class="col-sm-3"><i class="fa fa-envelope" aria-hidden="true"></i>{{' ' + customer.customerEmail}}</div>
          </div>
        </h4>
      </div>
      <div class="panel-collapse collapse" id="accordion{{customer.sroID}}">
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <b>Customer SRO: </b>{{customer.sroID}}</br>
              <b>Name: </b>{{customer.customerName}}<br/>
              <b>Phone: </b>{{customer.customerPhoneNumber}}<br/>
              <b>Date Created: </b>{{customer.dateCreated}}<br/>
              <b>Date Modified: </b>{{customer.dateModified}}<br/>
            </div>
            <div class="col-sm-4">
              <b>Device: </b>{{customer.deviceType}}<br/>
              <b>Serial Number: </b>{{customer.serialNumber}}<br/>
              <b>Problem Description: </b>{{customer.problemDescription}}<br/>
              <b>Work Performed: </b>{{customer.workPerformed}}<br/>
              <b>Blacklist Status: </b>{{customer.blacklistStatus}}<br/>
            </div>
              <div class="col-sm-4">
                <button class="btn btn-md" type="button" name="button" ng-show="{{!customer.blacklist}}" ng-click="blacklist(customer.sroID)">blacklist</button>
                <button class="btn btn-md" type="button" name="button" ng-show="{{customer.blacklist}}" ng-click="unblacklist(customer.sroID)">unblacklist</button>
                <button class="btn btn-md btn-danger" type="button" name="button" ng-click="delete(customer.sroID)">delete</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
