<div class="admin_body">
  <nav class="navbar admin-navbar nav-bottom-border navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header admin-navbar-header nav-header text">GatorTec Service Tracker</div>
      <div id="admin-navbar" class="navbar-collapse collapse">
      </div>
      </div>
  </nav>

    <div class="row">
        <div class="col-md-4"  id="sideb" style="padding-bottom: 3%;">
            <div class="container">

                <div class="col-md-3">
                    <div class="profile-sidebar">
                        <!-- SIDEBAR USERPIC -->
                        <div class="profile-userpic" align="center" style="color: #4C88BE">
                            <i class="fa fa-user fa-5x" aria-hidden="true"></i>
                        </div>
                        <!-- END SIDEBAR USERPIC -->
                        <!-- SIDEBAR USER TITLE -->
                        <div class="profile-usertitle">
                            <div class="profile-usertitle-job">
                                {{currentEmployee.userRole}}
                            </div>
                        </div>
                        <!-- END SIDEBAR USER TITLE -->

                        <!-- SIDEBAR MENU -->
                        <div class="profile-usermenu text-center">
                            <ul class="nav">
                              <li>
                                  <a ui-sref="admin.customers">Customers</a>
                              </li>
                              <li>
                                  <a ui-sref="admin.users">Users</a>
                              </li>
                              <li class="active">
                                  <a ui-sref="admin.database">Database</a>
                              </li>
                              <br/>
                              <li>
                                <button class="btn btn-sm btn-danger" id="signout" ng-click="logout()" type="button" name="button">Sign Out</button>
                              </li>
                              <br/>
                            </ul>
                        </div>
                        <!-- END MENU -->
                    </div>
                </div>
            </div>
        </div>

    <div id="admin" class="col-md-8" style="border:1px solid #4C88BE; padding-bottom:3%; border-radius: 3px;">
      <h1 align="center">Admin - Upload</h1>
      <div align="center">
      <label class="btn btn-default btn-file">
        Upload
        <input type="file" style="display: none;">
      </label>
    </div>
    </div>

</div>
</div>
