<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/adminPage.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="../controllers/adminPageController.js"></script>
  </head>

  <body>
    <div class="topnav" id="myTopnav">
      <a href="adminPageCustomers.html">Customers</a>
      <a href="adminPageUsers.html">Users</a>
      <a href="adminPageDB.html">Database</a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
    </div>

    <div class="col-sm-5 col-md-5 col-lg-5" style="padding-left: 2%;">
      <div class="row" style="padding-right: 2%">
        <h1 align="center">Admin - DB</h1>
        Database stats here...
      </div>
      <div class="row" style="padding-right: 2%">
      </div>
    </div>

    <div class="col-sm-7 col-md-7 col-lg-7" style="padding-left: 12%; padding-top: 2%">
      <div class="jumbotron" style="padding-left: 5%; padding-right: 5%">
        <label class="btn btn-default">
          Upload Doc <input type="file" hidden>
        </label>
      </div>
    </div>
  </body>
</html>
