  <nav class="navbar admin-navbar nav-bottom-border navbar-fixed-top">
    <div class="container-fluid">

      <div class="navbar-header nav-header text">GatorTec Service Tracker</div>
      <div class="navbar-header nav-header dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Database
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a ui-sref="admin.users">Users</a></li>
          <li><a ui-sref="admin.customers">Customers</a></li>
        </ul>
      </div>

      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right text">
          <li class="nav-space">Hello, {{listings[0].customerName}}</li>
          <li class="center-bar">|</li>
          <li><a>Sign Out</a></li>
        </ul>
      </div>

      </div>
    </nav>

    <div class="col-sm-5 col-md-5 col-lg-5" style="padding-left: 2%;">

      <div class="row" style="padding-right: 2%">
        <h1 align="center">Admin - DB</h1>
        Database stats here...
      </div>

      <div class="row" style="padding-right: 2%">
      </div>

    </div>

    <div class="col-sm-7 col-md-7 col-lg-7" style="padding-left: 12%; padding-top: 2%">

      <div class="jumbotron" style="padding-left: 5%; padding-right: 5%">
        <label class="btn btn-default">
          Upload Doc <input type="file" hidden>
        </label>
      </div>

    </div>
