  <nav class="navbar nav-bottom-border navbar-fixed-top">
    <div class="container-fluid">

      <div class="navbar-header nav-header text">GatorTec Service Tracker</div>
      <div class="navbar-header nav-header dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Database
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a ui-sref="admin.users">Users</a></li>
          <li><a ui-sref="admin.customers">Customers</a></li>
        </ul>
      </div>

      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right text">
          <li class="nav-space">Hello, {{listings[0].customerName}}</li>
          <li class="center-bar">|</li>
          <li><a>Sign Out</a></li>
        </ul>
      </div>

      </div>
    </nav>

    <div id="body" align="center" style="background-color:#dddddd; padding-bottom:3%">
      <h1 align="center">Admin - Upload</h1>
      <label class="btn btn-default btn-file">
        Upload <input type="file"  style="display: none;">
      </label>


    </div>
