    <nav class="navbar nav-bottom-border navbar-fixed-top">

      <div class="container-fluid">

        <div class="navbar-header nav-header text">GatorTec Service Tracker</div>

        <div class="navbar-header nav-header dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Customers
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="adminViewUsers.html">Users</a></li>
            <li><a href="adminViewDB.html">Database</a></li>
          </ul>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right text">
            <li class="nav-space">Hello, {{listings[0].customerName}}</li>
            <li class="center-bar">|</li>
            <li><a>Sign Out</a></li>
          </ul>
        </div>

      </div>

    </nav>

    <div class="col-sm-5 col-md-5 col-lg-5" style="padding-left: 5%; color: #4C88BE;">

      <div class="row" style="padding-right: 2%">
        <h1 align="center">Admin - Customers</h1>
      </div>

      <div class="row" style="padding-right: 2%">

        <div>
          <div class="input-group" id="searchBar">
            <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
            <input type="text" class="form-control" placeholder="Search">

            <!--Impliment Search-->


          </div>

          <div class="tableWrapper" style="padding-right: 20%"><br/>
            <table class="table table-striped table-hover">

              <tr>
                <th>SRO #</th>
                <th>Customer Name</th>
                <th>Customer Phone</th>
                <th>Check-in Date</th>
                <th></th>
              </tr>

              <tr ng-repeat="customer in customers" ng-repeat= "eachCustomer in customers.status">
                <td>{{customer.sroID}}</td>
                <td>{{customer.customerName}}</td>
                <td>{{customer.customerPhoneNumber}}</td>
                <td>{{customer.dateCreated}}</td>
                <th></th>
              </tr>

            </table>
          </div>

          </div>
        </div>
      </div>

      <div class="col-sm-7 col-md-7 col-lg-7" style="padding-left: 12%; padding-top: 2%">
        <div class="jumbotron" style="padding-left: 5%; padding-right: 5%">

          <div class="col-md-6">
            <h2>Customer SRO: {{customer.sroID}</h2>
          </div>
          <div>
            <p align="right" style="padding-right:4%; font-size: 14px">
              {{customer.customerName}}<br/>{{customer.customerPhoneNumber}}
              <br/>Last Modified: {{customer.dateModified}}
            </p>
          </div>

          <div class="col-md-4">
            Device: {{customer.deviceType}}
          </div>
          <div class="col-md-4">
            Serial Number: {{customer.serialNumber}}
          </div>

          <div style="padding-top: 8%">
            <p style="font-size: 14px">Problem: {{customer.probDescription}}</p>
            <p style="font-size: 14px">Work: {{customer.workPerformed}}</p>
            <p style="font-size: 14px">Blacklist Status: {{customer.blacklistStatus}}</p>
          </div>

          <div class="col-md-3">
            <button type="button" class="btn btn-danger">Blacklist</button>
          </div>
          <div class="col-md-3">
            <button type="button" class="btn btn-info">Un-Blacklist</button>
          </div>
          <div class="col-md-3">
            <button type="button" class="btn btn-warning">Delete SRO</button>
          </div>
        </div>
      </div>
