<!DOCTYPE html>
<html>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
  <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
  <script src="../app/app.js"></script>
  <script src="../factories/listingFactory.js"></script>
  <script src="../controllers/listingController.js"></script>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  </head>

  <body ng-app="gatorTecApp"> 
    
    <nav class="navbar nav-bottom-border navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header nav-header text">GatorTec Service Tracker</div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right text" ng-controller="ListingsController">
            <li class="nav-space">Hello, {{currentDevice.customerName}}</li>
            <li class="center-bar">|</li>
            <li><a>Sign out</a></li>
          </ul>
        </div>
      </div>
    </nav>
    
    <div class="container">
      <div class="row" ng-controller="ListingsController" align="center">
            
    
        <div class="col-md-3 device-container">
          <a href="#top" class="arrows">
            <span class="glyphicon glyphicon-menu-up arrows" aria-hidden="true"></span>
          </a>
          <table>
            <tr id="top"></tr>
            <tr ng-repeat="listing in listings" ng-click="switchDevice(listing)">
              <td>
                <a href="#">
                  <div class="div-i">
                    <!-- iPhone --><i ng-show="listing.device.description.indexOf('iPhone')!=-1" style="background-color:transparent;border-color:transparent;height:auto;width: 100px;line-height:normal;color:#6797be;font-size:100px;" class="fa fontawesome-icon fa-mobile circle-no"></i>
                    <!-- Mac --><i ng-show="listing.device.description == 'Mac'" style="background-color:transparent;border-color:transparent;height:93px;width: 110px;line-height:normal;color:#6797be;font-size:100px;" class="fa fontawesome-icon fa-desktop circle-no"></i>
                    <!-- iPad & iPod --><i ng-show="listing.device.description == 'iPad' || listing.device.description == 'iPod'" style="background-color:transparent;border-color:transparent;height:auto;width: 100px;line-height:normal;color:#6797be;font-size:100px;" class="fa fontawesome-icon fa-tablet circle-no"></i>
                    <!-- Apple Watch --><i ng-show="listing.device.description == 'Apple Watch'" style="background-color:transparent;border-color:transparent;height:auto;width: 100px;line-height:normal;color:#6797be;font-size:100px;" class="fa fontawesome-icon fa-clock-o circle-no"></i>
                    <!-- Beats & More --><i ng-show="listing.device.description == 'Beats'" style="background-color:transparent;border-color:transparent;height:auto;width: 100px;line-height:normal;color:#6797be;font-size:100px;" class="fa fontawesome-icon fa-headphones circle-no"></i>
                  </div>
                  <h3>{{listing.device.description}}</h3>
                  <div>
                    <div id="div1" class="serial-dots">&#9679&#9679&#9679&#9679&#9679&#9679&#9679</div><div id="div2" class="serial-font">{{listing.device.serialNum.substr(7, 11)}}</div>
                  </div>
                </a>
              </td>
            </tr>
            <tr id="bottom"></tr>
          </table>
          <a href="#bottom" class="arrows">
            <span class="glyphicon glyphicon-menu-down arrows" aria-hidden="true"></span>
          </a>
        </div>
    
    
        <div class="col-md-8" style="top: 50%;">
    
          <h1>Repair Status</h1>
          <div class="sro-id">SRO ID: {{currentDevice.sroID}}</div>
    
          <div>
            <!-- PROGRESS BAR -->
            <div class="progress">
              <div class="progress-bar progress-bar-striped active" role="progressbar"
              aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
              </div>
            </div>
          </div>
    
          <div align="left" style="padding-left: 10px;">
            <h2>Your repair is in progress.</h2>
      
            Current Status: {{currentDevice.status}}<br>
      
            Date Created: {{currentDevice.dateCreated}}
          </div>
    
        </div>
    
      </div>
    </div>
    
  </body>

</html>
