<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Repair Status - Login</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css'>
  <link rel="stylesheet" href="../css/login.css">
  <script src="../controllers/loginController.js"></script>
</head>

<body>

    <div class="wrapper" ng-app="myApp" ng-controller="loginController">
    <form class="form-signin">
      <h2 class="form-signin-heading" align="center">Login</h2>
      <input type="email" ng-model="email" class="form-control" id="email" name="email" size="64" placeholder="Email Address" required autofocus />
      <br/>
      <input type="tel" ng-model="phone" class="form-control" id="phone" name="phone" placeholder="Phone Number" size="10"
      pattern="[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]" required/>
      <br/>
      <button class="btn btn-lg btn-primary btn-block" ng-click="login()" type="submit">Login</button>
    </form>
    </div>

</body>
</html>
