/*~~~~~~~~~~~~~~~~~~CustomerView CSS~~~~~~~~~~~~~~~~~~*/
.customer_body {
  padding-top: 65px;
}

.text {
color: #4C88BE;
}

.alignment {
text-align: center;
align-self: auto;
}

.nav-bottom-border {
border-bottom: solid;
border-color: rgba(211, 211, 211, 0.71);
}

.date {
font-weight: 550;
}

.nav-header {
font-size: 25px;
padding: 10px 0px 0px 10px;
}

.center-bar {
text-align: center;
padding: 17px 0px 10px 0px;
font-size: 14px;
}

.nav-space {
text-align: center;
padding: 19px 10px 10px 10px;
font-size: 14px;
}

.hori-device-container {
margin: auto;
padding: 0;
border-radius: 7px;
width: auto;
position: relative;
}

.horizontal_table {
border-collapse: separate;
border-spacing: 5px 0;
margin-top: -20px;
}

.div_hori_table {
display: block;
height: 300px;
margin-bottom: -30px;
}

.arrows {
border: none;
background: none;
height: 30px;
width: 40px;
margin: 0;
padding: 0;
font-size: 30px;
color:#6797be
}

.arrows:hover {
color:#013E6E
}

.repair-container {
width: 1000px;
height: auto;
margin: 0 auto;
padding: 10px 10px 30px 10px;
position: relative;
/*
border-style: solid;
border-color: grey;
border-radius: 7px;
*/
border-radius: 7px;
box-shadow: 0 0 10px grey;
}

.serial-font {
font-size: 15px;
}

.serial-dots {
font-size: 11px;
padding-bottom: 10px;
}

#div1, #div2 {
display: inline;
}

#progressBar1, #progressBar2, #progressBar3 {
display: inline;
}

.progress_table {
border-collapse: separate;
border-spacing: 15px 0;
}

.progress_bar {
margin: 10px auto;
padding: 0;
position: relative;
width: 200px;
}

.div_progress_table {
display: block;
height: 100px;
margin: -20px 0 -10px 0;
}

.progress-container {
margin: 10px auto 0 auto;
padding: 0;
width: auto;
position: relative;
overflow: hidden;
}

.progress_words {
  text-align: center;
}

.status_notes {
font-size: 18px;
}

i {
margin: 0 0 -20px 0;
text-align: center;
align-self: auto;
}

.div-i {
text-align: center;
padding: 0 10px;
}

.device_td:hover {
border-radius: 10px;
box-shadow: 0 0 10px grey;
}

.device_td:active {
box-shadow: inset 0 0 10px grey;
background-color: lightgrey;
}

a {
margin: 0;
border: 0;
font-size: 110%;
font: inherit;
vertical-align: baseline;
text-decoration: none;
text-align: center;
}

table, a {
padding: 20px;
}

a:hover {
text-decoration: none;
}

a:active {
text-decoration: none;
}

a:visited {
text-decoration: none;
}

a:link {
text-decoration: none;
}

.sro-id {
font-size: 18px;
padding-top: 10px;
padding-bottom: 20px;
}

.notes-div {
padding: 7px 0 0 7px;
}

.total_notes_div {
padding: 20px 0 0 87px;
width: 800px;
}
/*~~~~~~~~~~~~~~~~~~CustomerView CSS~~~~~~~~~~~~~~~~~~*/
